@import 'https://fonts.googleapis.com/css?family=Raleway';
* {
  outline: none;
}
body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    width: 0 auto;
    height: 0 auto;
    background-color: rgb(252, 151, 168);
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 0.05em;
    font-weight: 400;
    color: white;
    -webkit-font-smoothing: antialiased;
}
header
{
    font-family: Raleway;
    margin-top: 150px;
	  text-align: center;
    height: 40px;
}
.order {
  margin-top: 100px;
  text-align: center;
}
#video_background {
  position: fixed;
  background-attachment: fixed;
  bottom: 0px;
  right: 0px;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  overflow: hidden;
}
div.container
{
  font-family: Raleway;
  margin: 0 auto;
	padding: 10px 3px;
	text-align: center;
  opacity: 80%;
}

div.container a
{
    color: #FFF;
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
    opacity: 100%;
}

.green
{
  box-shadow: 2px 2px 2px 2px rgba(38, 17, 228, 0.5); /*Đổ bóng cho menu*/
  width: 70%;
}
div.topBotomBordersOut a:before, div.topBotomBordersOut a:after
{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FFF;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

div.topBotomBordersOut a:before
{
    top: 0px;
    transform: translateY(10px);
}
div.topBotomBordersOut a:after
{
    bottom: 0px;
    transform: translateY(-10px);
}

div.topBotomBordersOut a:hover:before, div.topBotomBordersOut a:hover:after
{
    opacity: 1;
    transform: translateY(0px);
}
/* products index */
.search {
  margin-top: 30px;
}
.wrapper {
    height: 420px;
    width: 680px;
    margin: 50px auto;
    border-radius: 7px 7px 7px 7px;
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    margin-bottom: 50px;
  }
  
  .product-img {
    float: left;
    height: 420px;
    width: 327px;
    margin-left: 10px;

  }
  
  .product-img img {
    border-radius: 7px 0 0 7px;
  }
  
  .product-info {
    float: left;
    height: 420px;
    width: 327px;
    border-radius: 0 7px 10px 7px;
    background-color: #ffffff;
    margin-right: 10px;
  }
  
  .product-text {
    height: 270px;
    width: 327px;
  }
  
  .product-text h1 {
    margin: 0 0 0 0;
    padding-top: 52px;
    font-size: 34px;
    color: #474747;
  }
  
  .product-text h1,
  .product-price-btn p {
    font-family: 'Bentham', serif;
  }
  
  .product-text p {
    height: 125px;
    width: 270px;
    font-family: 'Barlow Condensed', sans-serif;
    color: #002fff;
    font-size: 20px;
    font-weight: lighter;
    overflow: hidden;
  }
  
  .product-price-btn {
    height: 103px;
    width: 327px;
    margin-top: 17px;
    position: relative;
  }
  
  .product-price-btn p {
    display: inline-block;
    height: auto;
    width: 327px;
    font-family: 'Bentham', serif;
    margin: 0 0 0 0px;
    font-size: 30px;
    font-weight: lighter;
    color: #474747;
  }
  
  span {
    display: inline-block;
    height: 50px;
    font-family: 'Suranna', serif;
    font-size: 34px;
  }
  
  .product-price-btn button {
    display: inline-block;
    height: 50px;
    width: 150px;
    margin: 0 20px 0 16px;
    box-sizing: border-box;
    border: transparent;
    border-radius: 60px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    background-color: #5a9ef8;
    cursor: pointer;
    outline: none;
  }
  
  .product-price-btn button:hover {
    background-color: #51ff42;
  }
  /* Mui ten lên dau trang */
#myBtn {
  display: none;
  position: fixed;
  bottom: 60px;
  right: 10px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #fff;

  color: white;
  cursor: pointer;
  border-radius: 90px;
  opacity: 0.5;
  }
   
  #myBtn:hover {
  background-color: #f1f1f1;
  }

  /* Searchbox  */

  .tb {
    display: table;
    width: 100%;
  }
  
  .td {
    display: table-cell;
    vertical-align: middle;
  }
  
  input,
  button {
    color: #fff;
    font-family: Nunito;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
  }
  
  #cover {
    width: 800px;
    padding: 35px;
    height: 20px;
    margin: 83px auto 0 auto;
    background-color: #ff7575;
    border-radius: 20px;
    box-shadow: 0 10px 40px #ff7c7c, 0 0 0 10px #ffffffeb;
    transform: scale(0.6);
  }
  
  input[type="text"] {
    width: 100%;
    height: 30px;
    font-size: 40px;
    line-height: 1;
  }
  
  input[type="text"]::placeholder {
    color: #cf3b3b;
  }
  
  #s-cover {
    width: 1px;
    padding-left: 35px;
  }

/* Nút Dropdown*/
.nut_dropdown {
  color: white;
  padding: 16px;
  font: 20px Raleway;
  border: none;
}

/* Thiết lập vị trí cho thẻ div với class dropdown*/
.dropdown {
  position: relative;
  display: inline-block;
}

/* Nội dung Dropdown */
.noidung_dropdown {
  /*Ẩn nội dụng các đường dẫn*/
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

/* Thiết kế style cho các đường dẫn tronng Dropdown */
.noidung_dropdown a {
  color: rgb(255, 255, 255);
  background-color: blueviolet;
  text-decoration: none;
  display: block;
}

/* thay đổi màu background khi hover vào đường dẫn */
.noidung_dropdown a:hover {display: block;}

/* hiển thị nội dung dropdown khi hover */
.dropdown:hover .noidung_dropdown {display: block;}

/*Dùng Để hiển thị nội dung*/
.hienThi {display:block;}