{% extends 'base.html.twig' %}

{% block title %}Edit Customers{% endblock %}

{% block body %}
    <h1>Edit Customers</h1>

    {{ include('customers/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_customers_index') }}">back to list</a>

    {{ include('customers/_delete_form.html.twig') }}
{% endblock %}
