{% extends 'base.html.twig' %}

{% block title %}Orders Check{% endblock %}

{% block body %}
<body align="center">
    <h1>Orders Check</h1>
    <div><div id="cover">
            <form action="{{ path('find_orders') }}" method="get">
                <div class="tb">
                    <div class="td">
                        <input type="text" name="q" value="" placeholder="Enter your Number:" required>
                        <div class="td" id="s-cover">
                            <button type="submit">
                            </button>
                        </div>
                    </div>
                </div>
            </form>
    </div></div>
</body>
{% endblock %}
